<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<%=link_to "Login", new_user_session_path %>

<% @recipes.each do |r| %>
  <h1><%= link_to(r.title, r) %></h1>
  <ul>
    <li><%= r.recipe_type.name %></li>
    <li><%= r.cuisine.name %></li>
    <li><%= r.difficulty %></li>
    <li><%= r.cook_time %> minutos</li>
  </ul>
<% end %>

<% @cuisines.each do |c| %>
  <%= link_to(c.name, c)%>
<% end %>

<% @recipe_types.each do |recipe_type| %>
  <%= link_to recipe_type.name, recipe_type %>
<% end %>

<%=link_to "Enviar uma receita", new_recipe_path%>

<% if user_signed_in? %>
  <p> Olá <%= current_user.email %> <p>
<% end %>

<%= form_tag("/busca", method: "get") do %>
  <%= label_tag(:nome, "Busca") %>
  <%= text_field_tag(:nome) %>
  <%= submit_tag("Buscar") %>
<%end%>

<h1> <%= flash[:alert] %> </h1>
